* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  list-style-type: none;
}

$primary: #bbd547;
$secondary: #81b36e;
$tertiary: #429099;
$quaternary: #1375b8;
$headerText: #a1a3a6;
$swiperContainer: #f3f3f3;
$swiperPaginationBullet: #bababa;
$title: #757575;
$sectionContentText: #959595;
$sectionPicture: #9d9d9c;
$footerBg: #dbdbdb;
$footerIcon: #6d6e71;
$footerIconBg: #f3f3f4;

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;

    #header {
      display: flex;
      padding: 18px 33px 18px 30px;

      .logo {
        width: 145px;
        height: 43.5px;
        margin-right: 95px;
      }

      .navigation {
        display: flex;
        width: 100%;
        align-items: center;

        .nav-list {
          display: flex;

          .nav-item {
            font-size: 17px;
            text-transform: uppercase;
            font-family: arial;

            a {
              color: $headerText;

              &.home:hover,
              &.home:active,
              &.home:focus,
              &.home:visited {
                color: $primary;
              }
              &.about-us:hover,
              &.about-us:active,
              &.about-us:focus,
              &.about-us:visited {
                color: $secondary;
              }

              &.our-work:hover,
              &.our-work:active,
              &.our-work:focus,
              &.our-work:visited {
                color: $tertiary;
              }
              &.contact:hover,
              &.contact:active,
              &.contact:focus,
              &.contact:visited {
                color: $quaternary;
              }
            }

            span {
              padding: 0 8px;
              color: $headerText;
            }
          }
        }

        .search-btn {
          margin-left: auto;
          cursor: pointer;

          &:hover,
          &:active,
          &:focus,
          &:visited {
            i {
              color: $primary;
            }
          }
          i {
            pointer-events: none;
            color: $headerText;
          }
        }
      }
    }

    .search-input-div {
      display: none;
      padding: 13px 33px 9px 30px;
      input {
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #d8d8d8;
      }
    }

    .border-div {
      height: 8px;
      width: 100%;
      background: linear-gradient(
        to right,
        $primary,
        $secondary,
        $tertiary,
        $quaternary
      );
    }
  }

  #swiper-section {
    .swiper-container {
      width: 100%;
      height: 310px;
      background-color: $swiperContainer !important;

      background-image: url("../img/slider/slider_dots_icon.png");
      background-repeat: no-repeat;
      background-position-y: 50%;
      background-position-x: 50%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      .slide-content {
        display: flex;
        align-items: center;

        img {
          margin-right: 21px;
          width: 170px;
          height: 161px;
        }

        .text {
          text-transform: uppercase;
          font-size: 48px;
          width: 340px;
          text-align: left;
          color: #757575;
        }
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
        background-color: $swiperPaginationBullet;
      }
      .swiper-pagination-bullet-active {
        background-color: $primary;
        outline-color: none;
      }
    }
  }
}
